# 20160110-etl-census-with-python

Related post:  
https://stharrold.github.io/20160110-etl-census-with-python.html

Data documentation:  
https://www.census.gov/programs-surveys/acs/technical-documentation/pums/documentation.2013.html

## Initialization

### Imports

In [1]:
cd ~

/home/samuel_harrold

In [2]:
# Import standard packages.
import collections
import functools
import os
import pdb # Debug with pdb.
import subprocess
import sys
import time
# Import installed packages.
import numpy as np
import pandas as pd
# Import local packages.
# Insert current directory into module search path.
# Autoreload local packages after editing.
# `dsdemos` version: https://github.com/stharrold/dsdemos/releases/tag/v0.0.3
sys.path.insert(0, os.path.join(os.path.curdir, r'dsdemos'))
%reload_ext autoreload
%autoreload 2
import dsdemos as dsd

In [3]:
print("Timestamp:")
print(time.strftime(r'%Y-%m-%dT%H:%M:%S%Z', time.gmtime()))
print()
print("Versions:")
print("Python:", sys.version_info)
print("numpy:", np.__version__)
print("pandas:", pd.__version__)

Timestamp:
2016-02-08T04:30:52GMT

Versions:
Python: sys.version_info(major=3, minor=5, micro=1, releaselevel='final', serial=0)
numpy: 1.10.2
pandas: 0.17.1

### Globals

File sources:
* 2013 5-year PUMS data dictionary: [PUMS_Data_Dictionary_2009-2013.txt](http://www2.census.gov/programs-surveys/acs/tech_docs/pums/data_dict/PUMS_Data_Dictionary_2009-2013.txt) (<1&nbsp;MB)
* 2013 5-year PUMS person and housing records for Washington DC:
    * Person records: [csv_pdc.zip](http://www2.census.gov/programs-surveys/acs/data/pums/2013/5-Year/csv_pdc.zip) (5&nbsp;MB compressed, 30&nbsp;MB decompressed)
    * Housing records: [csv_hdc.zip](http://www2.census.gov/programs-surveys/acs/data/pums/2013/5-Year/csv_hdc.zip) (2&nbsp;MB compressed, 13&nbsp;MB decompressed)
* 2013 5-year PUMS estimates for user verification: [pums_estimates_9_13.csv](http://www2.census.gov/programs-surveys/acs/tech_docs/pums/estimates/pums_estimates_9_13.csv) (<1&nbsp;MB)

In [4]:
# File paths
path_static = os.path.join(os.path.expanduser(r'~'), r'stharrold.github.io/content/static')
basename = r'20160110-etl-census-with-python'
filename = basename
path_ipynb = os.path.join(path_static, basename, filename+'.ipynb')
path_disk = os.path.abspath(r'/mnt/disk-20151227t211000z/')
path_acs = os.path.join(path_disk, r'www2-census-gov/programs-surveys/acs/')
path_pcsv = os.path.join(path_acs, r'data/pums/2013/5-Year/ss13pdc.csv') # 'pdc' = 'person DC'
path_hcsv = os.path.join(path_acs, r'data/pums/2013/5-Year/ss13hdc.csv') # 'hdc' = 'housing DC'
path_ecsv = os.path.join(path_acs, r'tech_docs/pums/estimates/pums_estimates_9_13.csv')
path_dtxt = os.path.join(path_acs, r'tech_docs/pums/data_dict/PUMS_Data_Dictionary_2009-2013.txt')

# Weights
pwt = 'PWGTP' # person weight
pwts = [pwt+str(inum) for inum in range(1, 81)]
hwt = 'WGTP' # housing weight
hwts = [hwt+str(inum) for inum in range(1, 81)]

## Extract, transform, and load

### Data dictionary

In [5]:
print("`ddict`: Load the data dictionary and display the hierarchical structure.")
# Only `ddict` is used below.
# The hierarchical data frame is only for display. 
ddict = dsd.census.parse_pumsdatadict(path=path_dtxt)
tmp = dict()
for record_type in ddict['record_types']:
    tmp[record_type] = pd.DataFrame.from_dict(ddict['record_types'][record_type], orient='index')
pd.concat(tmp, names=['record_type', 'var_name']).head()

`ddict`: Load the data dictionary and display the hierarchical structure.

                        length  \
record_type    var_name
HOUSING RECORD ACR           1
               ADJHSG        7
               ADJINC        7
               AGS           1
               BATH          1

                                                               description  \
record_type    var_name
HOUSING RECORD ACR                                                Lot size
               ADJHSG    Adjustment factor for housing dollar amounts (...
               ADJINC    Adjustment factor for income and earnings doll...
               AGS            Sales of Agriculture Products (Yearly sales)
               BATH                                      Bathtub or shower

                                                                 var_codes  \
record_type    var_name
HOUSING RECORD ACR       {'b': 'N/A (GQ/not a one-family house or mobil...
               ADJHSG    {'1086032': '2009 factor', '1068395': '2010 fa...
               ADJINC    {'1085467': '2009 factor (0.999480 * 1.0860317...
               AGS       {'b': 'N/A (GQ/vacant/not a one-family house o...
               BATH               {'b': 'N/A (GQ)', '1': 'Yes', '2': 'No'}

                                                                     notes
record_type    var_name
HOUSING RECORD ACR                                                     NaN
               ADJHSG    [Note: The values of ADJHSG inflation-adjusts ...
               ADJINC    [Note: The values of ADJINC inflation-adjusts ...
               AGS         [Note: No adjustment factor is applied to AGS.]
               BATH                                                    NaN

In [6]:
print("`ddict`: First 10 unstructured notes from end of file.")
ddict['notes'][:10]

`ddict`: First 10 unstructured notes from end of file.

['*  In cases where the SOC occupation code ends in X(s) or Y(s), two or more SOC',
 'occupation codes were aggregated to correspond to a specific Census occupation',
 'code. In these cases, the Census occupation description is used for the SOC',
 'occupation title."',
 '** These codes are pseudo codes developed by the Census Bureau and are not',
 '   official or equivalent NAICS or SOC codes.',
 'Legend to Identify NAICS Equivalents',
 '     M = Multiple NAICS codes',
 '     P = Part of a NAICS code - NAICS code split between two or more Census',
 '         codes']

### PUMS data

In [7]:
print("`dfp`, `dfh`: Load person and housing records.")
time_start = time.perf_counter()
for path in [path_pcsv, path_hcsv]:
    with open(path) as fobj:
        nlines = sum(1 for _ in fobj)
    with open(path) as fobj:
        first_line = fobj.readline()
        ncols = first_line.count(',')+1
    print("{path}:".format(path=path))
    print("    size (MB)   = {size:.1f}".format(size=os.path.getsize(path)/1e6))
    print("    num lines   = {nlines}".format(nlines=nlines))
    print("    num columns = {ncols}".format(ncols=ncols))
print()

# For ss13pdc.csv, low_memory=False since otherwise pandas raises DtypeWarning.
dfp = pd.read_csv(path_pcsv, low_memory=False)
dfh = pd.read_csv(path_hcsv, low_memory=True)
for (name, df) in [('dfp', dfp), ('dfh', dfh)]:
    print("{name} RAM usage (MB) = {mem:.1f}".format(
            name=name, mem=df.memory_usage().sum()/1e6))
time_stop = time.perf_counter()
print()
print("Time elapsed (sec) = {diff:.1f}".format(diff=time_stop-time_start))

`dfp`, `dfh`: Load person and housing records.
/mnt/disk-20151227t211000z/www2-census-gov/programs-surveys/acs/data/pums/2013/5-Year/ss13pdc.csv:
    size (MB)   = 30.5
    num lines   = 30560
    num columns = 295
/mnt/disk-20151227t211000z/www2-census-gov/programs-surveys/acs/data/pums/2013/5-Year/ss13hdc.csv:
    size (MB)   = 13.5
    num lines   = 17501
    num columns = 205

dfp RAM usage (MB) = 72.1
dfh RAM usage (MB) = 28.7

Time elapsed (sec) = 2.0

In [8]:
print("`dfp`: First 5 person records.")
dfp.head()

`dfp`: First 5 person records.

,RT,SERIALNO,SPORDER,PUMA00,PUMA10,ST,ADJINC,PWGTP,AGEP,CIT,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
0,P,2009000000403,1,102,-9,11,1085467,20,38,1,...,6,26,31,32,26,6,36,6,19,20
1,P,2009000001113,1,103,-9,11,1085467,13,78,1,...,13,30,12,13,4,4,18,24,4,21
2,P,2009000001113,2,103,-9,11,1085467,25,39,1,...,26,50,23,20,8,7,38,41,7,37
3,P,2009000001113,3,103,-9,11,1085467,17,8,1,...,15,32,17,15,6,4,26,32,5,30
4,P,2009000001978,1,103,-9,11,1085467,37,53,1,...,65,12,13,37,36,41,57,36,11,33

In [9]:
print("`dfp`: First 5 housing records.")
dfh.head()

`dfp`: First 5 housing records.

,insp,RT,SERIALNO,DIVISION,PUMA00,PUMA10,REGION,ST,ADJHSG,ADJINC,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,600,H,2009000000403,5,102,-9,3,11,1086032,1085467,...,6,25,30,32,26,6,36,6,18,19
1,NaN,H,2009000001113,5,103,-9,3,11,1086032,1085467,...,14,29,12,12,4,4,18,23,4,22
2,480,H,2009000001978,5,103,-9,3,11,1086032,1085467,...,65,12,14,37,36,41,57,36,11,34
3,NaN,H,2009000002250,5,105,-9,3,11,1086032,1085467,...,4,4,4,4,23,14,11,4,20,21
4,2500,H,2009000002985,5,101,-9,3,11,1086032,1085467,...,66,45,10,35,34,10,34,55,50,10

In [10]:
print(
r"""`dfp`, `dfh`, `ddict`: Describe all columns ('variables') that aren't weights or flags.
Printed format:
[PERSON, HOUSING] RECORD
COL: Column name.
    Column description.
    Multi-line optional column notes.
    1-3 line description of value meanings ('variable codes').
    Multi-line statistical description and data type.
...
num columns described = ncols""")
print()
records_dfs = collections.OrderedDict([
    ('PERSON RECORD',  {'dataframe': dfp, 'weight': pwt, 'replicate_weights': pwts}),
    ('HOUSING RECORD', {'dataframe': dfh, 'weight': hwt, 'replicate_weights': hwts})])
for record_type in records_dfs:
    print(record_type)
    df = records_dfs[record_type]['dataframe']
    ncols_desc = 0 # number of columns described
    for col in df.columns:
        if col in ddict['record_types'][record_type]:
            col_dict = ddict['record_types'][record_type][col]
            desc = col_dict['description']
        else:
            col_dict = None
            desc = 'Column not in data dictionary.'
        if not (
            (col.startswith('F') and (desc.endswith(' flag') or desc.endswith(' edit')))
            or ('WGTP' in col and "Weight replicate" in desc)):
                print("{col}: {desc}".format(col=col, desc=desc))
                ncols_desc += 1
                if col_dict is not None:
                    if 'notes' in col_dict:
                        print("    {notes}".format(notes=col_dict['notes']))
                    for (inum, var_code) in enumerate(col_dict['var_codes']):
                        var_code_desc = col_dict['var_codes'][var_code]
                        print("    {vc}: {vcd}".format(vc=var_code, vcd=var_code_desc))
                        if inum >= 2:
                            print("    ...")
                            break
                print('    '+repr(df[col].describe()).replace('\n', '\n    '))
    print("num columns described = {ncd}".format(ncd=ncols_desc))
    print()

`dfp`, `dfh`, `ddict`: Describe all columns ('variables') that aren't weights or flags.
Printed format:
[PERSON, HOUSING] RECORD
COL: Column name.
    Column description.
    Multi-line optional column notes.
    1-3 line description of value meanings ('variable codes').
    Multi-line statistical description and data type.
...
num columns described = ncols

PERSON RECORD
RT: Record Type
    P: Person Record
    count     30559
    unique        1
    top           P
    freq      30559
    Name: RT, dtype: object
SERIALNO: Housing unit/GQ person serial number
    200900000001..201399999999: Unique identifier
    count    3.055900e+04
    mean     2.011081e+12
    std      1.407751e+09
    min      2.009000e+12
    25%      2.010000e+12
    50%      2.011001e+12
    75%      2.012001e+12
    max      2.013001e+12
    Name: SERIALNO, dtype: float64
SPORDER: Person number
    01..20: Person number
    count    30559.000000
    mean         1.850584
    std          1.235291
    min          1.000000
    25%          1.000000
    50%          1.000000
    75%          2.000000
    max         13.000000
    Name: SPORDER, dtype: float64
PUMA00: Public use microdata area code (PUMA) based on Census 2000 definition for data collected prior to 2012. Use in combination with PUMA10.
    ['Note: Public Use Microdata Areas (PUMAs) designate areas of 100,000 or more population.  Use with ST for unique code. PUMA00 applies to data collected in calendar years 2011 and earlier. Users of multi-year datasets that contain data from before and after 2012 should use PUMA00 and PUMA10 together where possible, but not all PUMAs will be comparable. See http://tigerweb.geo.census.gov to identify PUMA changes between the two vintages.']
    00100..08200: Public use microdata area codes
    7777: combination of 01801, 01802, and 01905 in Louisiana
    -0009: Code classification is Not Applicable for data collected in 2012 or later
    ...
    count    30559.000000
    mean        55.840243
    std         55.336541
    min         -9.000000
    25%         -9.000000
    50%        101.000000
    75%        103.000000
    max        105.000000
    Name: PUMA00, dtype: float64
PUMA10: Public use microdata area code (PUMA) based on 2010 Census definition for data Collected in 2012 or later. Use in combination with PUMA00.
    ['Note: Public Use Microdata Areas (PUMAs) designate areas of 100,000 or more population.  Use with ST for unique code. PUMA10 applies to data collected in calendar year 2012 and later. Users of multi-year datasets that contain data from before and after 2012 should use PUMA00 and PUMA10 together where possible, but not all PUMAs will be comparable. See http://tigerweb.geo.census.gov to identify PUMA changes between the two vintages.']
    00100..70301: Public use microdata area codes
    -0009: Code classification is Not Applicable for data collected prior to 2012
    count    30559.000000
    mean        38.259923
    std         55.395391
    min         -9.000000
    25%         -9.000000
    50%         -9.000000
    75%        103.000000
    max        105.000000
    Name: PUMA10, dtype: float64
ST: State Code
    01: Alabama/AL
    02: Alaska/AK
    04: Arizona/AZ
    ...
    count    30559
    mean        11
    std          0
    min         11
    25%         11
    50%         11
    75%         11
    max         11
    Name: ST, dtype: float64
ADJINC: Adjustment factor for income and earnings dollar amounts (6 implied decimal places)
    ['Note: The values of ADJINC inflation-adjusts reported income to 2013 dollars. ADJINC incorporates an adjustment that annualizes the different rolling reference periods for reported income (as done in the single-year data using the variable ADJINC from the 1-year file) and an adjustment to inflation-adjust the annualized income to 2013 dollars. ADJINC applies to variables FINCP and HINCP in the housing record, and variables INTP, OIP, PAP, PERNP, PINCP, RETP, SEMP, SSIP, SSP, and WAGP in the person record.']
    1085467: 2009 factor (0.999480 * 1.08603175)
    1076540: 2010 factor (1.007624 * 1.06839475)
    1054614: 2011 factor (1.018237 * 1.03572510)
    ...
    count      30559.000000
    mean     1048186.138192
    std        29716.696630
    min      1007549.000000
    25%      1024887.000000
    50%      1054614.000000
    75%      1076540.000000
    max      1085467.000000
    Name: ADJINC, dtype: float64
PWGTP: Person's weight
    00001..09999: Integer weight of person
    count    30559.000000
    mean        20.268039
    std         13.310075
    min          1.000000
    25%         12.000000
    50%         16.000000
    75%         24.000000
    max        173.000000
    Name: PWGTP, dtype: float64
AGEP: Age
    00: Under 1 year
    01..99: 1 to 99 years (Top-coded***)
    count    30559.000000
    mean        38.728198
    std         21.780122
    min          0.000000
    25%         23.000000
    50%         35.000000
    75%         55.000000
    max         95.000000
    Name: AGEP, dtype: float64
CIT: Citizenship status
    1: Born in the U.S.
    2: Born in Puerto Rico, Guam, the U.S. Virgin Islands, or the Northern Marianas
    3: Born abroad of American parent(s)
    ...
    count    30559.000000
    mean         1.471252
    std          1.201267
    min          1.000000
    25%          1.000000
    50%          1.000000
    75%          1.000000
    max          5.000000
    Name: CIT, dtype: float64
CITWP05: Year of naturalization write-in for data collected prior to 2012
    bbbb: Not eligible - not naturalized
    1925: 1925 or earlier (Bottom-coded)
    1926: 1926 - 1930
    ...
    count    1595.000000
    mean     1110.813166
    std       994.495059
    min        -9.000000
    25%        -9.000000
    50%      1973.000000
    75%      1999.000000
    max      2011.000000
    Name: CITWP05, dtype: float64
CITWP12: Year of naturalization write-in for data collected in 2012 or later
    bbbb: Not eligible - not naturalized
    1928: 1928 or earlier (Bottom-coded)
    1929: 1929 - 1933
    ...
    count    1595.000000
    mean      875.462696
    std       996.639591
    min        -9.000000
    25%        -9.000000
    50%        -9.000000
    75%      1999.000000
    max      2013.000000
    Name: CITWP12, dtype: float64
COW: Class of worker
    b: Not in universe (less than 16 years old/NILF who last worked more than 5 years ago or never worked)
    1: Employee of a private for-profit company or business, or of an individual, for wages, salary, or commissions
    2: Employee of a private not-for-profit, tax-exempt, or charitable organization
    ...
    count    20557.000000
    mean         2.592937
    std          1.971727
    min          1.000000
    25%          1.000000
    50%          2.000000
    75%          5.000000
    max          9.000000
    Name: COW, dtype: float64
DDRS: Self-care difficulty
    b: N/A (Less than 5 years old)
    1: Yes
    2: No
    ...
    count    29078.000000
    mean         1.969668
    std          0.171503
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: DDRS, dtype: float64
DEAR: Hearing difficulty
    1: Yes
    2: No
    count    30559.000000
    mean         1.978010
    std          0.146654
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: DEAR, dtype: float64
DEYE: Vision difficulty
    1: Yes
    2: No
    count    30559.000000
    mean         1.975163
    std          0.155631
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: DEYE, dtype: float64
DOUT: Independent living difficulty
    b: N/A (Less than 15 years old)
    1: Yes
    2: No
    ...
    count    26658.000000
    mean         1.943432
    std          0.231020
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: DOUT, dtype: float64
DPHY: Ambulatory difficulty
    b: N/A (Less than 5 years old)
    1: Yes
    2: No
    ...
    count    29078.000000
    mean         1.922966
    std          0.266650
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: DPHY, dtype: float64
DRAT: Veteran service connected disability rating (percentage)
    b: N/A (No service-connected disability/never served in military)
    1: 0 percent
    2: 10 or 20 percent
    ...
    count    287.000000
    mean       3.400697
    std        1.587671
    min        1.000000
    25%        2.000000
    50%        3.000000
    75%        5.000000
    max        6.000000
    Name: DRAT, dtype: float64
DRATX: Veteran service connected disability rating (checkbox)
    b: N/A (Less than 17 years old/never served in military)
    1: Yes
    2: No
    ...
    count    2072.000000
    mean        1.861486
    std         0.345522
    min         1.000000
    25%         2.000000
    50%         2.000000
    75%         2.000000
    max         2.000000
    Name: DRATX, dtype: float64
DREM: Cognitive difficulty
    b: N/A (Less than 5 years old)
    1: Yes
    2: No
    ...
    count    29078.000000
    mean         1.943015
    std          0.231817
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: DREM, dtype: float64
ENG: Ability to speak English
    b: N/A (less than 5 years old/speaks only English)
    1: Very well
    2: Well
    ...
    count    4231.000000
    mean        1.429449
    std         0.750207
    min         1.000000
    25%         1.000000
    50%         1.000000
    75%         2.000000
    max         4.000000
    Name: ENG, dtype: float64
FER: Gave birth to child within the past 12 months
    ['NOTE: Problems in the collection of data on women who gave birth in the past year (FER) in 2012 led to suppressing this variable in 59 PUMAs within states Florida, Georgia, Kansas, Montana, North Carolina, Ohio and Texas. This only affects 2012 vintage data. See the Estimation section of the Accuracy of the Data for the 2009-2013 5-year PUMS for more information on PUMS estimates using FER. http://www.census.gov/acs/www/data_documentation/pums_documentation/']
    b: N/A (less than 15 years/greater than 50 years/ male)
    1: Yes
    2: No
    ...
    count    9036.000000
    mean        1.955069
    std         0.207165
    min         1.000000
    25%         2.000000
    50%         2.000000
    75%         2.000000
    max         2.000000
    Name: FER, dtype: float64
GCL: Grandparents living with grandchildren
    b: N/A (less than 30 years/institutional GQ)
    1: Yes
    2: No
    ...
    count    18439.000000
    mean         1.968599
    std          0.174403
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: GCL, dtype: float64
GCM: Length of time responsible for grandchildren
    b: N/A (less than 30 years/grandparent not responsible for grandchild/institutional GQ)
    1: Less than 6 months
    2: 6 to 11 months
    ...
    count    228.000000
    mean       4.026316
    std        1.078100
    min        1.000000
    25%        3.000000
    50%        4.000000
    75%        5.000000
    max        5.000000
    Name: GCM, dtype: float64
GCR: Grandparents responsible for grandchildren
    b: N/A (less than 30 years/institutional GQ/grandparent not living with grandchild)
    1: Yes
    2: No
    ...
    count    579.000000
    mean       1.606218
    std        0.489010
    min        1.000000
    25%        1.000000
    50%        2.000000
    75%        2.000000
    max        2.000000
    Name: GCR, dtype: float64
HINS1: Insurance through a current or former employer or union
    1: Yes
    2: No
    count    30559.000000
    mean         1.387120
    std          0.487099
    min          1.000000
    25%          1.000000
    50%          1.000000
    75%          2.000000
    max          2.000000
    Name: HINS1, dtype: float64
HINS2: Insurance purchased directly from an insurance company
    1: Yes
    2: No
    count    30559.000000
    mean         1.852548
    std          0.354562
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: HINS2, dtype: float64
HINS3: Medicare, for people 65 and older, or people with certain disabilities
    1: Yes
    2: No
    count    30559.000000
    mean         1.847999
    std          0.359028
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: HINS3, dtype: float64
HINS4: Medicaid, Medical Assistance, or any kind of government-assistance plan for those with low incomes or a disability
    1: Yes
    2: No
    count    30559.000000
    mean         1.763016
    std          0.425239
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: HINS4, dtype: float64
HINS5: TRICARE or other military health care
    1: Yes
    2: No
    count    30559.000000
    mean         1.973461
    std          0.160734
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: HINS5, dtype: float64
HINS6: VA (including those who have ever used or enrolled for VA health care)
    1: Yes
    2: No
    count    30559.000000
    mean         1.981675
    std          0.134127
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: HINS6, dtype: float64
HINS7: Indian Health Service
    1: Yes
    2: No
    count    30559.000000
    mean         1.999215
    std          0.028014
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: HINS7, dtype: float64
INTP: Interest, dividends, and net rental income past 12 months (signed)
    ['Note: Use values from ADJINC to adjust INTP to constant dollars.']
    bbbbbb: N/A (less than 15 years old)
    000000: None
    -09999..-00001: Loss $1 to $9999 (Rounded and bottom-coded)
    ...
    count     26658.000000
    mean       2798.324368
    std       18916.559752
    min       -7700.000000
    25%           0.000000
    50%           0.000000
    75%           0.000000
    max      325000.000000
    Name: INTP, dtype: float64
JWMNP: Travel time to work
    bbb: N/A (not a worker or worker who worked at home)
    001..200: 1 to 200 minutes to get to work (Top-coded)
    count    14545.000000
    mean        29.764043
    std         19.584350
    min          1.000000
    25%         15.000000
    50%         30.000000
    75%         40.000000
    max        142.000000
    Name: JWMNP, dtype: float64
JWRIP: Vehicle occupancy
    bb: N/A (not a worker or worker whose means of transportation to work was not car, truck, or van)
    01: Drove alone
    02: In 2-person carpool
    ...
    count    6211.000000
    mean        1.224602
    std         0.677173
    min         1.000000
    25%         1.000000
    50%         1.000000
    75%         1.000000
    max        10.000000
    Name: JWRIP, dtype: float64
JWTR: Means of transportation to work
    bb: N/A (not a worker--not in the labor force, including persons under 16 years; unemployed; employed, with a job but not at work; Armed Forces, with a job but not at work)
    01: Car, truck, or van
    02: Bus or trolley bus
    ...
    count    15327.000000
    mean         3.863900
    std          3.554906
    min          1.000000
    25%          1.000000
    50%          2.000000
    75%          4.000000
    max         12.000000
    Name: JWTR, dtype: float64
LANX: Language other than English spoken at home
    b: N/A (less than 5 years old)
    1: Yes, speaks another language
    2: No, speaks only English
    ...
    count    29078.000000
    mean         1.854495
    std          0.352616
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: LANX, dtype: float64
MAR: Marital status
    1: Married
    2: Widowed
    3: Divorced
    ...
    count    30559.000000
    mean         3.659118
    std          1.737333
    min          1.000000
    25%          1.000000
    50%          5.000000
    75%          5.000000
    max          5.000000
    Name: MAR, dtype: float64
MARHD: Divorced in the past 12 months
    b: N/A (age less than 15 years; never married)
    1: Yes
    2: No
    ...
    count    12371.000000
    mean         1.982297
    std          0.131874
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: MARHD, dtype: float64
MARHM: Married in the past 12 months
    b: N/A (age less than 15 years; never married)
    1: Yes
    2: No
    ...
    count    12371.000000
    mean         1.954086
    std          0.209307
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: MARHM, dtype: float64
MARHT: Number of times married
    b: N/A (age less than 15 years; never married)
    1: One time
    2: Two times
    ...
    count    12371.000000
    mean         1.207259
    std          0.461325
    min          1.000000
    25%          1.000000
    50%          1.000000
    75%          1.000000
    max          3.000000
    Name: MARHT, dtype: float64
MARHW: Widowed in the past 12 months
    b: N/A (age less than 15 years; never married)
    1: Yes
    2: No
    ...
    count    12371.000000
    mean         1.990866
    std          0.095140
    min          1.000000
    25%          2.000000
    50%          2.000000
    75%          2.000000
    max          2.000000
    Name: MARHW, dtype: float64
MARHYP05: Year last married for data collected prior to 2012
    bbbb: N/A (age less than 15 years; never married)
    1928: 1928 or earlier (Bottom-coded)
    1929: 1929
    ...
    count    12371.000000
    mean      1158.447337
    std        982.950909
    min         -9.000000
    25%         -9.000000
    50%       1963.000000
    75%       1994.000000
    max       2011.000000
    Name: MARHYP05, dtype: float64
MARHYP12: Year last married for data collected in 2012 or later
    bbbb: N/A (age less than 15 years; never married)
    1932: 1932 or earlier (Bottom-coded)
    1933: 1933
    ...
    count    12371.000000
    mean       819.956026
    std        984.800070
    min         -9.000000
    25%         -9.000000
    50%         -9.000000
    75%       1987.000000
    max       2013.000000
    Name: MARHYP12, dtype: float64
MIG: Mobility status (lived here 1 year ago)
    b: N/A (less than 1 year old)
    1: Yes, same house (nonmovers)
    2: No, outside US and Puerto Rico
    ...
    count    30229.00000
    mean         1.37163
    std          0.76873
    min          1.00000
    25%          1.00000
    50%          1.00000
    75%          1.00000
    max          3.00000
    Name: MIG, dtype: float64
MIL: Military service
    b: N/A (less than 17 years old)
    1: Now on active duty
    2: On active duty in the past, but not now
    ...
    count    26114.000000
    mean         3.842843
    std          0.549228
    min          1.000000
    25%          4.000000
    50%          4.000000
    75%          4.000000
    max          4.000000
    Name: MIL, dtype: float64
MLPA: Served September 2001 or later
    b: N/A (Less than 17 years old/no active duty)
    0: Did not serve this period
    1: Served this period
    ...

### PUMS estimates for user verification

In [11]:
print("`dfe`: Estimates for user verification filtered for 'District of Columbia'.")
dfe = pd.read_csv(path_ecsv)
tfmask_dc = dfe['state'] == 'District of Columbia'
dfe_dc = dfe.loc[tfmask_dc]
dfe_dc

`dfe`: Estimates for user verification filtered for 'District of Columbia'.

,st,state,characteristic,pums_est_09_to_13,pums_se_09_to_13,pums_moe_09_to_13
288,11,District of Columbia,Total population,"619,371",0,0
289,11,District of Columbia,Housing unit population (RELP=0-15),"579,281",0,0
290,11,District of Columbia,GQ population (RELP=16-17),"40,090",0,0
291,11,District of Columbia,GQ institutional population (RELP=16),"7,443",80,132
292,11,District of Columbia,GQ noninstitutional population (RELP=17),"32,647",80,132
293,11,District of Columbia,Total males (SEX=1),"292,566",361,595
294,11,District of Columbia,Total females (SEX=2),"326,805",361,595
295,11,District of Columbia,Age 0-4,"36,530",253,417
296,11,District of Columbia,Age 5-9,"27,658",636,1046
297,11,District of Columbia,Age 10-14,"24,621",598,984
298,11,District of Columbia,Age 15-19,"40,950",825,1357
299,11,District of Columbia,Age 20-24,"58,828",779,1281
300,11,District of Columbia,Age 25-34,"134,025",526,865
301,11,District of Columbia,Age 35-44,"84,310",534,878
302,11,District of Columbia,Age 45-54,"75,981",435,716
303,11,District of Columbia,Age 55-59,"35,191",599,985
304,11,District of Columbia,Age 60-64,"31,070",590,970
305,11,District of Columbia,Age 65-74,"38,245",295,485
306,11,District of Columbia,Age 75-84,"22,283",420,690
307,11,District of Columbia,Age 85 and over,"9,679",377,619
308,11,District of Columbia,Total housing units (TYPE=1),"298,327",113,185
309,11,District of Columbia,Total occupied units,"263,650",965,1588
310,11,District of Columbia,"Owner occupied units (TEN in 1,2)","110,362",1363,2242
311,11,District of Columbia,"Renter occupied units (TEN in 3,4)","153,288",1486,2444
312,11,District of Columbia,Owned with a mortgage (TEN=1),"85,483",1208,1988
313,11,District of Columbia,Owned free and clear (TEN=2),"24,879",565,929
314,11,District of Columbia,Rented for cash (TEN=3),"149,500",1511,2485
315,11,District of Columbia,No cash rent (TEN=4),"3,788",262,431
316,11,District of Columbia,Total vacant units,"34,677",920,1514
317,11,District of Columbia,For rent (VACS=1),"10,686",618,1017
318,11,District of Columbia,For sale only (VACS=3),"2,953",325,534
319,11,District of Columbia,"All Other Vacant (VACS in 2,4,5,6,7)","21,038",849,1397

In [12]:
print("`dfe`: Verify characteristic estimates, direct standard errors, and margin of error.")
# Verify the estimates following
# https://www.census.gov/programs-surveys/acs/
#     technical-documentation/pums/documentation.2013.html
#     tech_docs/pums/accuracy/2009_2013AccuracyPUMS.pdf
print()
tfmask_test_strs = collections.OrderedDict([
    ('PERSON RECORD', collections.OrderedDict([
        ('Total population', "np.asarray([True]*len(dfp))"),
        ('Housing unit population (RELP=0-15)',"np.logical_and(0 <= dfp['RELP'], dfp['RELP'] <= 15)"),
        ('GQ population (RELP=16-17)', "np.logical_and(16 <= dfp['RELP'], dfp['RELP'] <= 17)"),
        ('GQ institutional population (RELP=16)', "dfp['RELP'] == 16"),
        ('GQ noninstitutional population (RELP=17)', "dfp['RELP'] == 17"),
        ('Total males (SEX=1)', "dfp['SEX'] == 1"),
        ('Total females (SEX=2)', "dfp['SEX'] == 2"),
        ('Age 0-4', "np.logical_and(0 <= dfp['AGEP'], dfp['AGEP'] <= 4)"),
        ('Age 5-9', "np.logical_and(5 <= dfp['AGEP'], dfp['AGEP'] <= 9)"),
        ('Age 10-14', "np.logical_and(10 <= dfp['AGEP'], dfp['AGEP'] <= 14)"),
        ('Age 15-19', "np.logical_and(15 <= dfp['AGEP'], dfp['AGEP'] <= 19)"),
        ('Age 20-24', "np.logical_and(20 <= dfp['AGEP'], dfp['AGEP'] <= 24)"),
        ('Age 25-34', "np.logical_and(25 <= dfp['AGEP'], dfp['AGEP'] <= 34)"),
        ('Age 35-44', "np.logical_and(35 <= dfp['AGEP'], dfp['AGEP'] <= 44)"),
        ('Age 45-54', "np.logical_and(45 <= dfp['AGEP'], dfp['AGEP'] <= 54)"),
        ('Age 55-59', "np.logical_and(55 <= dfp['AGEP'], dfp['AGEP'] <= 59)"),
        ('Age 60-64', "np.logical_and(60 <= dfp['AGEP'], dfp['AGEP'] <= 64)"),
        ('Age 65-74', "np.logical_and(65 <= dfp['AGEP'], dfp['AGEP'] <= 74)"),
        ('Age 75-84', "np.logical_and(75 <= dfp['AGEP'], dfp['AGEP'] <= 84)"),
        ('Age 85 and over', "85 <= dfp['AGEP']")])),
    ('HOUSING RECORD', collections.OrderedDict([
        ('Total housing units (TYPE=1)', "dfh['TYPE'] == 1"),
        ('Total occupied units', "dfh['TEN'].notnull()"),
        ('Owner occupied units (TEN in 1,2)', "np.logical_or(dfh['TEN'] == 1, dfh['TEN'] == 2)"),
        ('Renter occupied units (TEN in 3,4)', "np.logical_or(dfh['TEN'] == 3, dfh['TEN'] == 4)"),
        ('Owned with a mortgage (TEN=1)', "dfh['TEN'] == 1"),
        ('Owned free and clear (TEN=2)', "dfh['TEN'] == 2"),
        ('Rented for cash (TEN=3)', "dfh['TEN'] == 3"),
        ('No cash rent (TEN=4)', "dfh['TEN'] == 4"),
        ('Total vacant units', "dfh['TEN'].isnull()"),
        ('For rent (VACS=1)', "dfh['VACS'] == 1"),
        ('For sale only (VACS=3)', "dfh['VACS'] == 3"),
        ('All Other Vacant (VACS in 2,4,5,6,7)',
         "functools.reduce(np.logical_or, (dfh['VACS'] == vacs for vacs in [2,4,5,6,7]))")]))])
for record_type in records_dfs:
    print("'{rt}'".format(rt=record_type))
    df = records_dfs[record_type]['dataframe']
    wt = records_dfs[record_type]['weight']
    wts = records_dfs[record_type]['replicate_weights']
    for char in tfmask_test_strs[record_type]:
        print("    '{char}'".format(char=char))
        # Select the reference verification data
        # and the records for the characteristic.
        tfmask_ref = dfe_dc['characteristic'] == char        
        tfmask_test = eval(tfmask_test_strs[record_type][char])
        # Calculate and verify the estimate ('est') for the characteristic.
        # The estimate is the sum of the sample weights 'WGTP'.
        col = 'pums_est_09_to_13'
        print("        '{col}':".format(col=col), end=' ')
        ref_est = int(dfe_dc.loc[tfmask_ref, col].values[0].replace(',', ''))
        test_est = df.loc[tfmask_test, wt].sum()
        assert np.isclose(ref_est, test_est, rtol=0, atol=1)
        print("(ref, test) = {tup}".format(tup=(ref_est, test_est)))
        # Calculate and verify the "direct standard error" ('se') of the estimate.
        # The direct standard error is a modified root-mean-square deviation
        # using the "replicate weights" 'WGTP[1-80]'.
        col = 'pums_se_09_to_13'
        print("        '{col}' :".format(col=col), end=' ')
        ref_se = dfe_dc.loc[tfmask_ref, col].values[0]
        test_se = ((4/80)*((df.loc[tfmask_test, wts].sum() - test_est)**2).sum())**0.5
        assert np.isclose(ref_se, test_se, rtol=0, atol=1)
        print("(ref, test) = {tup}".format(tup=(ref_se, test_se)))
        # Calculate and verify the margin of error ('moe') at the
        # 90% confidence level (+/- 1.645 standard errors).
        col = 'pums_moe_09_to_13'
        print("        '{col}':".format(col=col), end=' ')
        ref_moe = dfe_dc.loc[tfmask_ref, col].values[0]
        test_moe = 1.645*test_se
        assert np.isclose(ref_moe, test_moe, rtol=0, atol=1)
        print("(ref, test) = {tup}".format(tup=(ref_moe, test_moe)))

`dfe`: Verify characteristic estimates, direct standard errors, and margin of error.

'PERSON RECORD'
    'Total population'
        'pums_est_09_to_13': (ref, test) = (619371, 619371)
        'pums_se_09_to_13' : (ref, test) = (0, 0.0)
        'pums_moe_09_to_13': (ref, test) = (0, 0.0)
    'Housing unit population (RELP=0-15)'
        'pums_est_09_to_13': (ref, test) = (579281, 579281)
        'pums_se_09_to_13' : (ref, test) = (0, 0.0)
        'pums_moe_09_to_13': (ref, test) = (0, 0.0)
    'GQ population (RELP=16-17)'
        'pums_est_09_to_13': (ref, test) = (40090, 40090)
        'pums_se_09_to_13' : (ref, test) = (0, 0.0)
        'pums_moe_09_to_13': (ref, test) = (0, 0.0)
    'GQ institutional population (RELP=16)'
        'pums_est_09_to_13': (ref, test) = (7443, 7443)
        'pums_se_09_to_13' : (ref, test) = (80, 80.30971298666184)
        'pums_moe_09_to_13': (ref, test) = (132, 132.10947786305871)
    'GQ noninstitutional population (RELP=17)'
        'pums_est_09_to_13': (ref, test) = (32647, 32647)
        'pums_se_09_to_13' : (ref, test) = (80, 80.30971298666184)
        'pums_moe_09_to_13': (ref, test) = (132, 132.10947786305871)
    'Total males (SEX=1)'
        'pums_est_09_to_13': (ref, test) = (292566, 292566)
        'pums_se_09_to_13' : (ref, test) = (361, 361.4210148843036)
        'pums_moe_09_to_13': (ref, test) = (595, 594.5375694846794)
    'Total females (SEX=2)'
        'pums_est_09_to_13': (ref, test) = (326805, 326805)
        'pums_se_09_to_13' : (ref, test) = (361, 361.4210148843036)
        'pums_moe_09_to_13': (ref, test) = (595, 594.5375694846794)
    'Age 0-4'
        'pums_est_09_to_13': (ref, test) = (36530, 36530)
        'pums_se_09_to_13' : (ref, test) = (253, 253.37699185206222)
        'pums_moe_09_to_13': (ref, test) = (417, 416.80515159664236)
    'Age 5-9'
        'pums_est_09_to_13': (ref, test) = (27658, 27658)
        'pums_se_09_to_13' : (ref, test) = (636, 635.5916141674621)
        'pums_moe_09_to_13': (ref, test) = (1046, 1045.5482053054752)
    'Age 10-14'
        'pums_est_09_to_13': (ref, test) = (24621, 24621)
        'pums_se_09_to_13' : (ref, test) = (598, 598.0936799532328)
        'pums_moe_09_to_13': (ref, test) = (984, 983.864103523068)
    'Age 15-19'
        'pums_est_09_to_13': (ref, test) = (40950, 40950)
        'pums_se_09_to_13' : (ref, test) = (825, 825.0349386541154)
        'pums_moe_09_to_13': (ref, test) = (1357, 1357.18247408602)
    'Age 20-24'
        'pums_est_09_to_13': (ref, test) = (58828, 58828)
        'pums_se_09_to_13' : (ref, test) = (779, 778.715930233869)
        'pums_moe_09_to_13': (ref, test) = (1281, 1280.9877052347144)
    'Age 25-34'
        'pums_est_09_to_13': (ref, test) = (134025, 134025)
        'pums_se_09_to_13' : (ref, test) = (526, 525.9921102069878)
        'pums_moe_09_to_13': (ref, test) = (865, 865.257021290495)
    'Age 35-44'
        'pums_est_09_to_13': (ref, test) = (84310, 84310)
        'pums_se_09_to_13' : (ref, test) = (534, 533.5205244411877)
        'pums_moe_09_to_13': (ref, test) = (878, 877.6412627057538)
    'Age 45-54'
        'pums_est_09_to_13': (ref, test) = (75981, 75981)
        'pums_se_09_to_13' : (ref, test) = (435, 435.0808545546448)
        'pums_moe_09_to_13': (ref, test) = (716, 715.7080057423907)
    'Age 55-59'
        'pums_est_09_to_13': (ref, test) = (35191, 35191)
        'pums_se_09_to_13' : (ref, test) = (599, 598.5786915686191)
        'pums_moe_09_to_13': (ref, test) = (985, 984.6619476303784)
    'Age 60-64'
        'pums_est_09_to_13': (ref, test) = (31070, 31070)
        'pums_se_09_to_13' : (ref, test) = (590, 589.6810154651412)
        'pums_moe_09_to_13': (ref, test) = (970, 970.0252704401572)
    'Age 65-74'
        'pums_est_09_to_13': (ref, test) = (38245, 38245)
        'pums_se_09_to_13' : (ref, test) = (295, 295.0997289053313)
        'pums_moe_09_to_13': (ref, test) = (485, 485.43905404927)
    'Age 75-84'
        'pums_est_09_to_13': (ref, test) = (22283, 22283)
        'pums_se_09_to_13' : (ref, test) = (420, 419.69280432239964)
        'pums_moe_09_to_13': (ref, test) = (690, 690.3946631103474)
    'Age 85 and over'
        'pums_est_09_to_13': (ref, test) = (9679, 9679)
        'pums_se_09_to_13' : (ref, test) = (377, 376.5637396245156)
        'pums_moe_09_to_13': (ref, test) = (619, 619.4473516823282)
'HOUSING RECORD'
    'Total housing units (TYPE=1)'
        'pums_est_09_to_13': (ref, test) = (298327, 298327)
        'pums_se_09_to_13' : (ref, test) = (113, 112.68873058118989)
        'pums_moe_09_to_13': (ref, test) = (185, 185.37296180605736)
    'Total occupied units'
        'pums_est_09_to_13': (ref, test) = (263650, 263650)
        'pums_se_09_to_13' : (ref, test) = (965, 965.0778984102786)
        'pums_moe_09_to_13': (ref, test) = (1588, 1587.5531428849083)
    'Owner occupied units (TEN in 1,2)'
        'pums_est_09_to_13': (ref, test) = (110362, 110362)
        'pums_se_09_to_13' : (ref, test) = (1363, 1363.1910174293257)
        'pums_moe_09_to_13': (ref, test) = (2242, 2242.449223671241)
    'Renter occupied units (TEN in 3,4)'
        'pums_est_09_to_13': (ref, test) = (153288, 153288)
        'pums_se_09_to_13' : (ref, test) = (1486, 1485.6482760061347)
        'pums_moe_09_to_13': (ref, test) = (2444, 2443.8914140300917)
    'Owned with a mortgage (TEN=1)'
        'pums_est_09_to_13': (ref, test) = (85483, 85483)
        'pums_se_09_to_13' : (ref, test) = (1208, 1208.399126944405)
        'pums_moe_09_to_13': (ref, test) = (1988, 1987.8165638235462)
    'Owned free and clear (TEN=2)'
        'pums_est_09_to_13': (ref, test) = (24879, 24879)
        'pums_se_09_to_13' : (ref, test) = (565, 565.0110618386157)
        'pums_moe_09_to_13': (ref, test) = (929, 929.4431967245227)
    'Rented for cash (TEN=3)'
        'pums_est_09_to_13': (ref, test) = (149500, 149500)
        'pums_se_09_to_13' : (ref, test) = (1511, 1510.8262970970554)
        'pums_moe_09_to_13': (ref, test) = (2485, 2485.309258724656)
    'No cash rent (TEN=4)'
        'pums_est_09_to_13': (ref, test) = (3788, 3788)
        'pums_se_09_to_13' : (ref, test) = (262, 262.1715087495207)
        'pums_moe_09_to_13': (ref, test) = (431, 431.2721318929615)
    'Total vacant units'
        'pums_est_09_to_13': (ref, test) = (34677, 34677)
        'pums_se_09_to_13' : (ref, test) = (920, 920.3688391074527)
        'pums_moe_09_to_13': (ref, test) = (1514, 1514.0067403317596)
    'For rent (VACS=1)'
        'pums_est_09_to_13': (ref, test) = (10686, 10686)
        'pums_se_09_to_13' : (ref, test) = (618, 618.3948172486571)
        'pums_moe_09_to_13': (ref, test) = (1017, 1017.2594743740409)
    'For sale only (VACS=3)'
        'pums_est_09_to_13': (ref, test) = (2953, 2953)
        'pums_se_09_to_13' : (ref, test) = (325, 324.77245880770124)
        'pums_moe_09_to_13': (ref, test) = (534, 534.2506947386686)
    'All Other Vacant (VACS in 2,4,5,6,7)'
        'pums_est_09_to_13': (ref, test) = (21038, 21038)
        'pums_se_09_to_13' : (ref, test) = (849, 849.4756618055635)
        'pums_moe_09_to_13': (ref, test) = (1397, 1397.3874636701519)

## Export ipynb to html

In [14]:
# Export ipynb to html
for template in ['basic', 'full']:
    path_html = os.path.splitext(path_ipynb)[0]+'-'+template+'.html'
    cmd = ['jupyter', 'nbconvert', '--to', 'html', '--template', template, path_ipynb, '--output', path_html]
    print(' '.join(cmd))
    subprocess.run(args=cmd, check=True)
    print()

jupyter nbconvert --to html --template basic /home/samuel_harrold/stharrold.github.io/content/static/20160110-etl-census-with-python/20160110-etl-census-with-python.ipynb --output /home/samuel_harrold/stharrold.github.io/content/static/20160110-etl-census-with-python/20160110-etl-census-with-python-basic.html

jupyter nbconvert --to html --template full /home/samuel_harrold/stharrold.github.io/content/static/20160110-etl-census-with-python/20160110-etl-census-with-python.ipynb --output /home/samuel_harrold/stharrold.github.io/content/static/20160110-etl-census-with-python/20160110-etl-census-with-python-full.html