# 20151230-predict-income-from-census

Related post:  
https://stharrold.github.io/20151230-predict-income-from-census.html

Purpose: Predict total annual household income.

## Initialization

### Imports

In [1]:
cd ~

/home/samuel_harrold

In [2]:
# Import standard packages.
import glob
import os
# Import installed packages.
import matplotlib.pyplot as plt
import pandas as pd
# Import local packages.
# TODO: remove autoreload after testing.
# %load_ext autoreload
# %autoreload 2
# IPython magic.
%matplotlib inline

## Globals

In [3]:
path_static = os.path.join(os.path.expanduser(r'~'), r'stharrold.github.io/content/static')
basename = r'20151230-predict-income-from-census'
path_disk = os.path.abspath(r'/mnt/disk-20151227t211000z/')
path_acs = os.path.join(path_disk, r'www2-census-gov/programs-surveys/acs/')
paths_hus = glob.glob(os.path.join(path_acs, r'data/pums/2013/5-Year/ss13hus*.csv')) # 'hus' = 'housing US'
# TEST: Testing with first 10K lines of files.
paths_hus = glob.glob(os.path.join(path_acs, r'data/pums/2013/5-Year/ss13hus*n10k.csv'))
path_ddict = os.path.join(path_acs, r'tech_docs/pums/data_dict/PUMSDataDict13.txt')

## Extract-transform-load

In [4]:
paths_hus

['/mnt/disk-20151227t211000z/www2-census-gov/programs-surveys/acs/data/pums/2013/5-Year/ss13husb_n10k.csv',
 '/mnt/disk-20151227t211000z/www2-census-gov/programs-surveys/acs/data/pums/2013/5-Year/ss13husa_n10k.csv']

In [5]:
dfs = list()
for path in paths_hus:
    dfs.append(pd.read_csv(paths_hus[0]))
df_acs = pd.concat(dfs)
df_acs.head()

,serialno,insp,RT,DIVISION,PUMA00,PUMA10,REGION,ST,ADJHSG,ADJINC,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
0,2009000000093,NaN,H,8,200,-9,4,16,1086032,1085467,...,29,30,6,22,28,5,7,23,20,14
1,2009000000269,600,H,8,200,-9,4,16,1086032,1085467,...,15,17,15,23,15,28,17,20,25,5
2,2009000000399,NaN,H,8,700,-9,4,16,1086032,1085467,...,14,9,16,13,7,9,8,12,10,8
3,2009000000673,NaN,H,8,500,-9,4,16,1086032,1085467,...,10,8,3,10,16,12,3,4,6,9
4,2009000000988,650,H,8,200,-9,4,16,1086032,1085467,...,42,30,10,28,24,9,25,43,42,6

In [6]:
percentiles = [0.1587, 0.5000, 0.8413] # +1 std. dev., mean/median, -1 std. dev. for normal dist.
df_acs.describe(percentiles=percentiles, include='all')

,serialno,insp,RT,DIVISION,PUMA00,PUMA10,REGION,ST,ADJHSG,ADJINC,...,WGTP71,WGTP72,WGTP73,WGTP74,WGTP75,WGTP76,WGTP77,WGTP78,WGTP79,WGTP80
count,1.999800e+04,13150.000000,19998,19998,19998.000000,19998,19998,19998,19998.000000,19998.000000,...,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000,19998.000000
unique,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,19998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2.009318e+12,549.411711,NaN,8,487.408741,-9,4,16,1080426.400840,1082629.715672,...,18.817682,19.084608,19.062506,19.093109,18.984498,19.002200,19.103710,18.928593,19.068907,18.972597
std,4.654739e+08,486.042351,NaN,0,270.121123,0,0,0,8212.586871,4156.815955,...,18.327374,18.439323,18.395264,18.851221,18.647821,18.469206,18.584896,18.452251,18.269861,18.885130
min,2.009000e+12,0.000000,NaN,8,100.000000,-9,4,16,1068395.000000,1076540.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15.9%,2.009000e+12,220.000000,NaN,8,200.000000,-9,4,16,1068395.000000,1076540.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
50%,2.009001e+12,460.000000,NaN,8,500.000000,-9,4,16,1086032.000000,1085467.000000,...,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
84.1%,2.010000e+12,800.000000,NaN,8,800.000000,-9,4,16,1086032.000000,1085467.000000,...,32.000000,33.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,33.000000
max,2.010001e+12,4500.000000,NaN,8,900.000000,-9,4,16,1086032.000000,1085467.000000,...,200.000000,199.000000,194.000000,211.000000,171.000000,174.000000,160.000000,155.000000,161.000000,171.000000

In [7]:
!date

Wed Dec 30 23:14:25 UTC 2015

In [ ]:
paths_hus = glob.glob(os.path.join(path_acs, r'data/pums/2013/5-Year/ss13hus*.csv'))
test = pd.read_csv(paths_hus[0])

In [ ]:
test.head()

In [ ]:
!date

## Export ipynb to html

In [ ]:
path_ipynb = os.path.join(path_static, basename, basename+'.ipynb')
for template in ['basic', 'full']:
    path_html = os.path.splitext(path_ipynb)[0]+'-'+template+'.html'
    cmd = ['jupyter', 'nbconvert', '--to', 'html', '--template', template, path_ipynb, '--output', path_html]
    print(' '.join(cmd))
    subprocess.run(args=cmd, check=True)